#component-4 {
    background: #ecebeb !important;
}

.message.bot {
    background: #bdbbbb !important;
    font-family: "Monaco" !important;
    color: #fcfcfc !important;
    
}

.avatar-container img {
    padding: 0 !important;
    }

.message.user {
    background: #fcfcfc !important;
    font-family: "Monaco";
    outline: none !important;
}

#CHATBOT {
    background: #f9f9f8 !important;
}

/* For avatar images */
#CHATBOT 
.gr-chatbot-avatar img {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

