/*
.message.bot {
    background: #bdbbbb !important;
    font-family: "Monaco" !important;
    color: #fcfcfc !important;
}

.message.user {
    background: #fcfcfc !important;
    font-family: "Monaco";
    outline: none !important;
}

#CHATBOT {
    background: #f9f9f8 !important;
    width: 30%;
    max-width: 500px;  
    margin-left: 70%;
    margin-top: 5%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#USER_INPUT {
    width: 30%;
    margin-top: 2%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

/* Moved from main.py 
.gradio-container {
    background: url("data:image/png;base64,encoded_string") !important;
    background-size: cover !important;
    background-position: center !important;
    max-width: 30% !important;
    height: auto !important;
}
#component-4 {
    background: #ecebeb !important;
    width: 30% !important;
    margin-left: 70% !important;
    margin-top: 10% !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2) !important;
    border-radius: 8px !important;
}
*/